// Colour variables
$primary: #ff5252;
$secondary: #0097a7;
$tertiary: #161e21;
$white: #fff;
$light: #d4d4d4;
$dark: #949494;
$black: #101010;

$agile-footer: #1e2c2e;

$deco-square-1: #0f2123;
$deco-square-2: #1d1524;

// Font variables
$f-s-small: 0.75rem; // 12px
$f-s-normal: 0.875rem; // 14px
$f-s-big: 1.5rem; // 24px
$f-s-bigger: 2.25rem; // 36px
$f-s-giant: 4rem; // 64px

$f-w-light: 100;
$f-w-thin: 300;
$f-w-normal: 400;
$f-w-bold: 500;
$f-w-heavy: 900;

$p-line-height: 1.857em;

// Transition speeds
$t-normal: 0.2s;

// Other
$underline: 3px;
